@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* navigasi bar */

/* all */
.navbar {
    width: auto;
    height: 95px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 64px 0px;
    background-color: black;
}
/* <--------------------> */

/* area-kiri-navbar */
.area-kiri-navbar {
    width: 20%;
    border: 1px black solid;
}

.image-brand {
    width: 124px;
    height: 55px;
    /* background-color: gainsboro; */
}
/* <--------------------> */

/* area-kanan-navbar */
.area-kanan-navbar {
    width: 80%;
    border: 1px black solid;
    display: flex;
    justify-content: end;
}

.menu-link-navbar {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    font-family: "Poppins";
    color: white;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-text {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 0 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.arrow-down {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-bottom: 3px;
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFDB00;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    padding: 0px 26px 15px 26px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-content a {
    font-family: "Poppins", sans-serif;
    color: black;
    padding-top: 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.line{
    width: 100%;
    border: 0.1px black solid;
}

.show {
    width: 170px;
    display: block;
}
/* <--------------------> */
/* resposive */
/* Media Queries */

/* Untuk Tablet (width antara 768px hingga 1024px) */
@media (max-width: 1024px) {
    .navbar {
        padding: 0px 32px;
        height: 80px;
    }

    .image-brand {
        width: 80px;
        height: 33px;
    }

    .area-kiri-navbar {
        width: 30%;
    }

    .area-kanan-navbar {
        width: 70%;
        justify-content: flex-end;
        gap: 20px;
    }

    .menu-link-navbar {
        gap: 10px;
    }

    .link {
        font-size: 14px;
    }

    .dropdown-text {
        font-size: 14px;
    }
    .dropdown-content,
    .dropdown-content.show {
        min-width: 140px !important;
        padding: 0px 20px 10px 20px !important;
    }
    .dropdown-content a {
        font-size: 14px; /* Ukuran font sedikit lebih kecil */
    }
    .arrow-down {
        padding: 3px;
        margin-bottom: 3px;
        margin-left: 10px;
    }
}

/* Untuk Mobile (width lebih kecil dari 768px) */
@media (max-width: 768px) {
    .navbar {
        padding: 0px 20px;
        height: 70px;
    }

    .area-kiri-navbar {
        width: 40%;
    }

    .image-brand {
        width: 80px;
        height: 35px;
    }

    .area-kanan-navbar {
        width: 60%;
        justify-content: center;
    }

    .menu-link-navbar {
        display: none; /* Hidden, untuk nanti digantikan dengan hamburger menu */
    }

    .link {
        font-size: 14px;
    }

    .dropdown-text {
        font-size: 14px;
    }
}

/* Untuk ukuran mobile lebih kecil (contohnya iPhone 5) */
@media (max-width: 480px) {
    .navbar {
        padding: 0px 8px;
        height: 60px;
    }

    .image-brand {
        width: 80px;
        height: 40px;
    }

    .dropdown-text {
        font-size: 12px;
    }

    .link {
        font-size: 12px;
    }
}
/* <--------------------> */

/* <--------------------> */
