/* resposive */
/* Media Queries */

/* Untuk Tablet (width antara 768px hingga 1024px) */
@media (max-width: 1024px) {
    #scrollToTopBtn {
        position: fixed;
        bottom: 60px;
        right: 20px;
        z-index: 100;
        /* background-color: #ff004d; */
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        font-size: 18px;
        height: 60px;
        width: 60px;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #scrollToTopBtn img {
        cursor: pointer;
        width: 70.26px;
        height: 64.25px;
    }

    .navbar {
        padding: 0px 32px;
        height: 80px;
    }

    .image-brand {
        width: 80px;
        height: 33px;
    }

    .area-kiri-navbar {
        width: 30%;
    }

    .area-kanan-navbar {
        width: 70%;
        justify-content: flex-end;
        gap: 20px;
    }

    .menu-link-navbar {
        gap: 10px;
    }

    .link {
        font-size: 14px;
    }

    .dropdown-text {
        font-size: 14px;
    }
    .dropdown-content,
    .dropdown-content.show {
        min-width: 140px !important;
        padding: 0px 20px 10px 20px !important;
    }
    .dropdown-content a {
        font-size: 14px; /* Ukuran font sedikit lebih kecil */
    }
    .arrow-down {
        padding: 3px;
        margin-bottom: 3px;
        margin-left: 10px;
    }

    /* area-footer */
    body .footer {
        height: 300px; /* Tetap fleksibel */
    }

    .footer .top-footer {
        height: auto; /* Biarkan fleksibel untuk konten */
        height: 90%;
        padding: 0px 32px;
    }

    .footer .area-kiri-footer {
        /* Tambahkan spesifisitas */
        width: 50%; /* Biarkan layout tetap 50% */
        align-items: center;
    }

    .footer .text-contact {
        /* Tambahkan spesifisitas */
        font-size: 2rem; /* Kurangi ukuran font */
    }

    .footer .footer-address {
        /* Tambahkan spesifisitas */
        font-size: 1.1rem; /* Kurangi ukuran font */
    }

    .footer .text-socmed,
    .footer .text-socmed2 {
        /* Tambahkan spesifisitas */
        font-size: 1.8rem; /* Kurangi ukuran font */
    }

    .footer .footer-socmed {
        /* Tambahkan spesifisitas */
        font-size: 1.2rem; /* Kurangi ukuran font */
    }

    .footer .kotak-socmed {
        /* Tambahkan spesifisitas */
        width: 45px; /* Sesuaikan ukuran kotak social media */
        height: 45px;
    }

    .footer .kotak-download {
        /* Tambahkan spesifisitas */
        width: 160px; /* Kurangi ukuran kotak download */
        height: 50px;
    }

    /* bottom footer */
    .footer .bottom-footer {
        /* Tambahkan spesifisitas */
        height: auto; /* Fleksibel untuk konten */
        padding: 10px 0; /* Tambahkan padding vertikal */
    }

    .footer .text-copyRight {
        /* Tambahkan spesifisitas */
        font-size: 16px; /* Kurangi ukuran font */
    }
    /* ----------- */

    /* area-audio-player */
    .content {
        /* padding: 0 15px; */
        height: 60px;
    }

    .music-image {
        width: 80px;
        height: 50px;
    }

    .music-titles {
        width: 120px;
    }
    
    .music-titles .name{
        font-size: 12px;
    }

    .music-titles .artist{
        font-size: 12px;
    }

    .area-line {
        width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .control-btn {
        width: 150px;
    }

    #visual {
        height: 160px;
    }
    /* ----------------- */
}

/* Untuk Mobile (width lebih kecil dari 768px) */
@media (max-width: 768px) {
    #scrollToTopBtn {
        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: 100;
        /* background-color: #ff004d; */
        color: white;
        border: none;
        /* border-radius: 50%; */
        padding: 15px;
        font-size: 18px;
        height: auto;
        width: auto;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #scrollToTopBtn img {
        cursor: pointer;
        width: 64.26px;
        height: 58.25px;
    }

    .navbar {
        padding: 0px 20px;
        height: 70px;
    }
    .menu-link-navbar {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .area-kiri-navbar {
        width: 40%;
    }

    .image-brand {
        width: 80px;
        height: 35px;
    }

    .area-kanan-navbar {
        width: 60%;
        justify-content: center;
    }

    .menu-link-navbar {
        display: none; /* Hidden, untuk nanti digantikan dengan hamburger menu */
    }

    .link {
        font-size: 14px;
    }

    .dropdown-text {
        font-size: 14px;
    }

    /* area-footer */
    body .footer {
        height: 240px; /* Tetap fleksibel */
    }

    .footer .top-footer {
        height: auto; /* Biarkan fleksibel untuk konten */
        height: 90%;
        padding: 0px 20px;
    }

    .footer .area-kiri-footer {
        /* Tambahkan spesifisitas */
        width: 50%; /* Biarkan layout tetap 50% */
        align-items: center;
    }

    .footer .text-contact {
        /* Tambahkan spesifisitas */
        font-size: 1.5rem; /* Kurangi ukuran font */
    }

    .footer .footer-address {
        /* Tambahkan spesifisitas */
        font-weight: 300;
        font-size: 1rem; /* Kurangi ukuran font */
    }

    .footer .text-socmed,
    .footer .text-socmed2 {
        /* Tambahkan spesifisitas */
        font-size: 1.5rem; /* Kurangi ukuran font */
    }

    .footer .footer-socmed {
        /* Tambahkan spesifisitas */
        font-size: 1.2rem; /* Kurangi ukuran font */
    }

    .footer .area-footer-socmed {
        gap: 10px;
    }

    .footer .kotak-socmed {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }

    .footer .area-footer-download {
        gap: 10px;
    }

    .footer .kotak-download {
        width: 130px;
        height: 35px;
        border-radius: 8px;
    }

    /* bottom footer */
    .footer .bottom-footer {
        /* Tambahkan spesifisitas */
        height: auto; /* Fleksibel untuk konten */
        padding: 10px 0; /* Tambahkan padding vertikal */
    }

    .footer .text-copyRight {
        /* Tambahkan spesifisitas */
        font-size: 16px; /* Kurangi ukuran font */
    }
    /* ----------- */
    /* area-audio-mobile */
    .area-audio-mobile {
        width: 100%;
        height: auto;
        /* border: 1px red solid; */
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        /* border-top: 1px black solid; */
    }

    .area-image-audio-mobile {
        width: auto;
        height: auto;
        /* border: 1px green solid; */
        padding: 10px 15px 0px 15px;
    }

    .image-audio-mobile {
        width: auto;
        height: 65px;
        background-color: #ffffff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .area-line-progress-mobile {
        width: auto;
        height: auto;
        /* border: 1px blue solid; */
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px 15px;
    }

    .progress-details-mobile {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .progress-bar-mobile {
        width: 0%;
        height: inherit;
        border-radius: inherit;
        background-color: #ccff00;
        cursor: pointer;
        position: relative;
    }

    .progress-bar-mobile span {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #ccff00;
        border-radius: inherit;
        transform: translateY(-25%);
        right: -5px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .progress-details-mobile:hover .progress-bar-mobile span {
        opacity: 1;
    }

    .control-btn-mobile {
        /* margin-top: 50px; */
        /* margin-bottom: 20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px black solid; */
        height: auto;
        padding: 10px;
        width: auto;
        background-color: #333333;
        gap: 5px;
    }

    .play-pause-mobile {
        background-color: white;
        border-radius: 50%;
    }

    .btn-play-mobile {
        color: black !important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .control-btn-mobile span {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    /* area-audio-player */
    .content {
        /* padding: 0 15px; */
        height: 60px;
        display: none;
    }

    .music-image {
        width: 80px;
        height: 50px;
    }

    .music-titles {
        width: 120px;
    }
    
    .music-titles .name{
        font-size: 10px;
    }

    .music-titles .artist{
        font-size: 12px;
    }

    .area-line {
        width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .control-btn {
        width: 120px;
    }

    #visual {
        height: 160px;
    }
    /* ----------------- */
}

/* Untuk ukuran mobile lebih kecil (contohnya iPhone 5) */
@media (max-width: 480px) {
    #scrollToTopBtn {
        position: fixed;
        bottom: -5px;
        right: -2px;
        z-index: 100;
        /* background-color: #ff004d; */
        color: white;
        border: none;
        /* border-radius: 50%; */
        padding: 15px;
        font-size: 18px;
        height: auto;
        width: auto;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    #scrollToTopBtn img {
        cursor: pointer;
        width: 58.26px;
        height: 52.25px;
    }

    .navbar {
        padding: 0px 8px;
        height: 60px;
    }

    .image-brand {
        width: 80px;
        height: 40px;
    }

    .dropdown-text {
        font-size: 12px;
    }

    .link {
        font-size: 12px;
    }

    /* area-footer */
    body .footer {
        height: auto; /* Tetap fleksibel */
    }

    .footer .top-footer {
        height: auto; /* Biarkan fleksibel untuk konten */
        height: 90%;
        padding: 20px 8px 0px 8px;
        flex-direction: column;
        /* gap: 10px; */
    }

    .footer .area-kiri-footer {
        /* Tambahkan spesifisitas */
        width: 100%; /* Biarkan layout tetap 50% */
        justify-content: center;
        align-items: center;
    }

    .footer .area-group-kiri {
        text-align: center;
        /* border: 1px black solid; */
    }

    .footer .area-text-contact {
        width: 100%;
        text-align: center;
    }

    .footer .area-footer-address {
        width: 100%;
        text-align: center;
    }

    .footer .area-kanan-footer {
        justify-content: center;
        width: 100%;
    }

    .footer .text-contact {
        /* Tambahkan spesifisitas */
        font-size: 1.2rem; /* Kurangi ukuran font */
    }

    .footer .footer-address {
        /* Tambahkan spesifisitas */
        font-weight: 300;
        font-size: 0.8rem; /* Kurangi ukuran font */
    }

    .footer .text-socmed,
    .footer .text-socmed2 {
        /* Tambahkan spesifisitas */
        font-size: 1.2rem; /* Kurangi ukuran font */
        padding-top: 10px;
    }

    .footer .footer-socmed {
        /* Tambahkan spesifisitas */
        font-size: 1.2rem; /* Kurangi ukuran font */
    }

    .footer .area-footer-socmed {
        margin-top: 8px;
        gap: 10px;
    }

    .footer .kotak-socmed {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }

    .footer .area-footer-download {
        margin-top: 8px;
        gap: 10px;
    }

    .footer .kotak-download {
        width: 130px;
        height: 35px;
        border-radius: 8px;
    }

    /* bottom footer */
    .footer .bottom-footer {
        /* Tambahkan spesifisitas */
        height: auto; /* Fleksibel untuk konten */
        padding: 10px 0; /* Tambahkan padding vertikal */
    }

    .footer .text-copyRight {
        /* Tambahkan spesifisitas */
        font-size: 10px; /* Kurangi ukuran font */
    }
    /* ----------- */
    /* area-audio-mobile */
    .area-audio-mobile {
        width: 100%;
        height: auto;
        /* border: 1px red solid; */
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        /* border-top: 1px black solid; */
    }

    .area-image-audio-mobile {
        width: auto;
        height: auto;
        /* border: 1px green solid; */
        padding: 10px 15px 0px 15px;
    }

    .image-audio-mobile {
        width: auto;
        height: 65px;
        background-color: #ffffff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .area-line-progress-mobile {
        width: auto;
        height: auto;
        /* border: 1px blue solid; */
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px 15px;
    }

    .progress-details-mobile {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .progress-bar-mobile {
        width: 0%;
        height: inherit;
        border-radius: inherit;
        background-color: #ccff00;
        cursor: pointer;
        position: relative;
    }

    .progress-bar-mobile span {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #ccff00;
        border-radius: inherit;
        transform: translateY(-25%);
        right: -5px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .progress-details-mobile:hover .progress-bar-mobile span {
        opacity: 1;
    }

    .control-btn-mobile {
        /* margin-top: 50px; */
        /* margin-bottom: 20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px black solid; */
        height: auto;
        padding: 10px;
        width: auto;
        background-color: #333333;
        gap: 5px;
    }

    .play-pause-mobile {
        background-color: white;
        border-radius: 50%;
    }

    .btn-play-mobile {
        color: black !important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .control-btn-mobile span {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    /* area-audio-player */
    .content {
        /* padding: 0 15px; */
        height: 60px;
        display: none;
    }

    .music-image {
        width: 80px;
        height: 50px;
    }

    .music-titles {
        width: 120px;
    }
    
    .music-titles .name{
        font-size: 10px;
    }

    .music-titles .artist{
        font-size: 12px;
    }

    .area-line {
        width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .control-btn {
        width: 120px;
    }

    #visual {
        height: 160px;
    }
    /* ----------------- */
}
/* <--------------------> */