/* Desktop dan Laptop */
@media (max-width: 1920px) {
    /* Gaya untuk monitor Full HD */
}

@media (max-width: 1440px) {
    /* Gaya untuk desktop besar */
}

@media (max-width: 1366px) {
    /* Gaya untuk laptop widescreen */
}

@media (max-width: 1280px) {
    /* Gaya untuk laptop standar */
}

@media (max-width: 1024px) {
    .area-thumbnail-youtube {
        margin: 30px 32px 0px 32px;
    }

    /* page youtube 2 */
    .area-video-youtube {
        margin: 0px 32px 0px 32px;
    }

    .thumbnail {
        height: 140px;
    }

    .channel-logo img {
        width: 40px;
        height: 40px;
    }

    .video-title {
        font-size: 14px;
    }

    .channel-name {
        font-size: 12px;
    }

    .views {
        font-size: 10px;
    }
    /* -------------------- */

    /* page youtube 3 */

    .area-event-news-streaming {
        margin: 0px 32px 30px 32px;
    }

    .area-content-VNS {
        gap: 10px;
    }

    /* content kiri */

    .area-content-VNS-kiri {
        width: 55%;
    }

    .title-event {
        font-size: 36px;
    }

    .content-kiri-event {
        gap: 10px;
        height: 555px;
    }

    .area-countdown {
        height: 65px;
    }

    .timer {
        font-size: 32px;
    }

    .title-timer {
        font-size: 18px;
    }

    .date-month {
        font-size: 22px;
    }

    .year {
        font-size: 22px;
    }

    .area-event-bottom {
        gap: 10px;
    }

    .area-days-date-right {
        height: 45px;
    }

    .date-month-right {
        font-size: 18px;
    }

    .year-right {
        font-size: 18px;
    }

    /* --------------- */

    /* content kanan */
    .area-content-VNS-kanan {
        width: 44%;
        gap: 10px;
    }

    /* area news */

    .content-news {
        height: 85%;
        /* border: 1px blue solid; */
    }

    .title-news {
        font-size: 34px;
    }

    .box-news {
        height: 100%;
        padding: 8px;
    }

    .area-image {
        height: 100%;
    }

    .desk-news {
        font-size: 12px;
    }
    /* ------------ */

    /* area content stream */

    .content-streaming {
        height: 20%;
        /* border: 1px  red solid; */
    }

    .title-streaming {
        font-size: 34px;
    }

    .box-streaming {
        height: 100%;
    }

    /* ------------------- */
    /* --------------- */

    /* -------------------- */
}

/* Tablet */
@media (max-width: 768px) {
    .area-thumbnail-youtube {
        margin: 20px 20px 0px 20px;
    }

    /* page youtube 2 */
    .area-video-youtube {
        margin: 0px 20px 0px 20px;
    }

    .video-card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: 33.33%;
    }

    .thumbnail {
        height: 140px;
    }

    .channel-logo img {
        width: 40px;
        height: 40px;
    }

    .video-title {
        font-size: 14px;
    }

    .channel-name {
        font-size: 12px;
    }

    .views {
        font-size: 10px;
    }
    /* -------------------- */

    /* page youtube 3 */

    .page-youtube-3 {
        height: 700px;
    }

    .area-event-news-streaming {
        margin: 30px 20px 30px 20px;
    }

    .area-content-VNS {
        gap: 10px;
    }

    /* content kiri */

    .area-content-VNS-kiri {
        width: 55%;
    }

    .title-event {
        font-size: 30px;
    }

    .content-kiri-event {
        gap: 10px;
        height: 555px;
    }

    .area-event-mid {
        height: 50%;
    }

    .area-countdown {
        height: 65px;
        padding: 10px 15px;
    }

    .countdown {
        width: 75%;
    }

    .area-days-date {
        width: 25%;
    }

    .timer {
        font-size: 28px;
    }

    .title-timer {
        font-size: 14px;
    }

    .date-month {
        font-size: 20px;
    }

    .year {
        font-size: 20px;
    }
    /* ---------------- */

    /* box- bawah */
    .area-event-bottom {
        gap: 10px;
        height: 50%;
        flex-direction: column;
    }

    .box-event {
        width: 100%;
        height: 50%;
    }

    .area-days-date-right {
        height: 40px;
    }

    .date-month-right {
        font-size: 16px;
    }

    .year-right {
        font-size: 16px;
    }
    /* ------------- */

    /* --------------- */

    /* content kanan */
    .area-content-VNS-kanan {
        width: 45%;
        gap: 6px;
        /* border: 1px red solid; */
    }

    /* area news */

    .content-news {
        height: 80%;
        /* border: 1px blue solid; */
    }

    .title-news {
        font-size: 30px;
    }

    .box-news {
        height: auto;
        padding: 8px;
    }

    .area-image {
        height: 100%;
    }

    .desk-news {
        font-size: 10px;
    }
    /* ------------ */

    /* area content stream */

    .content-streaming {
        height: 30%;
        /* border: 1px  red solid; */
    }

    .title-streaming {
        font-size: 30px;
    }

    .box-streaming {
        height: 100%;
    }

    /* ------------------- */
    /* --------------- */

    /* -------------------- */
}

@media (max-width: 600px) {
    /* Gaya untuk tablet kecil atau phablet */
}

/* Mobile Devices */
@media (max-width: 480px) {
    .area-thumbnail-youtube {
        margin: 20px 0px 0px 0px;
    }

    .area-image-thumbnail {
        /*width: 100%;
        */
        height: 200px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

    .area-title-thumbnail{
        margin: 10px 0px;
    }

    .title-thumbnail{
        font-size: 34px;
    }

    /* page youtube 2 */
    .area-video-youtube {
        margin: 20px 20px 0px 20px;
    }

    .text-choose{
        font-size: 16px;
    }

    .video-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .thumbnail {
        height: 160px;
    }

    .channel-logo img {
        width: 40px;
        height: 40px;
    }

    .video-title {
        font-size: 15px;
    }

    .channel-name {
        font-size: 14px;
    }

    .views {
        font-size: 12px;
    }
    /* -------------------- */

    /* page youtube 3 */

    .page-youtube-3 {
        height: auto;
    }

    .area-event-news-streaming {
        margin: 30px 20px 30px 20px;
    }

    .area-content-VNS {
        gap: 10px;
        flex-direction: column;
    }

    /* content kiri */

    .area-content-VNS-kiri {
        width: 100%;
    }

    .title-event {
        font-size: 30px;
    }

    .content-kiri-event {
        gap: 10px;
        height: 555px;
    }

    .area-event-mid {
        height: 50%;
    }

    .area-countdown {
        height: 65px;
        padding: 10px 15px;
    }

    .countdown {
        width: 75%;
    }

    .area-days-date {
        width: 25%;
    }

    .timer {
        font-size: 28px;
    }

    .title-timer {
        font-size: 14px;
    }

    .date-month {
        font-size: 20px;
    }

    .year {
        font-size: 20px;
    }
    /* ---------------- */

    /* box- bawah */
    .area-event-bottom {
        gap: 10px;
        height: 50%;
        flex-direction: column;
    }

    .box-event {
        width: 100%;
        height: 50%;
    }

    .area-days-date-right {
        height: 40px;
    }

    .date-month-right {
        font-size: 16px;
    }

    .year-right {
        font-size: 16px;
    }
    /* ------------- */

    /* --------------- */

    /* content kanan */
    .area-content-VNS-kanan {
        width: 100%;
        /* gap: 6px; */
        /* border: 1px red solid; */
    }

    /* area news */

    .content-news {
        height: 80%;
        /* border: 1px blue solid; */
    }

    .title-news {
        font-size: 28px;
    }

    .box-news {
        height: auto;
        padding: 8px;
    }

    .area-image {
        height: 100%;
    }

    .desk-news {
        font-size: 10px;
    }
    /* ------------ */

    /* area content stream */

    .content-streaming {
        height: 85px;
        /* border: 1px  red solid; */
    }

    .title-streaming {
        padding-top: 10px;
        font-size: 28px;
    }

    .box-streaming {
        height: 100%;
    }

    /* ------------------- */
    /* --------------- */

    /* -------------------- */
}

@media (max-width: 375px) {
    /* Gaya untuk smartphone medium */
}

@media (max-width: 320px) {
    /* Gaya untuk smartphone kecil */
}
