.page-1 {
    width: auto;
    /* height: 100vh; */
    padding: 0px 64px 0px;
}

.area-streaming {
    width: 100%;
    height: 600px;
    /* border: 1px white solid; */
}

.header-streaming {
    width: auto;
    /* height: ; */
    /* border: 1px red solid; */
}

.title-streaming {
    margin: 0px;
    font-family: "Bebas Neue";
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

.content-streaming {
    width: auto;
    height: 80%;
    /* border: 1px green solid; */
    display: flex;
}

.contentS-kiri {
    width: 55%;
    height: auto;
    /* border: 1px white solid; */
    margin-right: 10px;
}

.card-A {
    width: 100%;
    /* background-color: darkgrey; */
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-A .card-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}

.card-A .card-body {
    /* width: 100%; */
    height: 70%;
    background-color: white;
    padding: 30px;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-A .card-header .author {
    color: #333;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    width: 76%;
    height: 60px;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    /* border: 1px black solid; */
}

.card-A .card-header .author::before {
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -30px -30px 0 white;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 24%;
    content: "";
    cursor: pointer;
    /* border: 1px black solid; */
}

.card-A .card-header .view {
    font-weight: 600;
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: calc(20% - 2px);
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.text-watchS {
    font-family: "Poppins";
}

.btn-play-streaming{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-play-streaming span{
    font-size: 32px;
}

/* card B */
.card-B {
    width: 100%;
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-B .card-header-B {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}

.card-B .card-body-B {
    width: auto;
    height: 85%;
    /* background-color: white; */
    /* padding: 30px; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
    /* border-radius: 20px; */
}

.card-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.card-B .view-B {
    font-weight: 600;
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: calc(20% - 2px);
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    /* margin-top: 5px; */
    cursor: pointer;
}

.text-watchS-B {
    font-family: "Poppins";
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: black; /* Optional: background color if needed */
    /* border: 1px red solid; */
}

.video-container iframe,
.video-container #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/* ---------------------- */
/* animasi */
/* Kelas untuk menampilkan card dengan animasi */
.card-A.show,
.card-B.show {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
}

/* Kelas untuk menyembunyikan card dengan animasi */
.card-A.hide,
.card-B.hide {
    opacity: 0;
    transform: translateY(20px);
}
/* ------- */

/* konten streaming kanan */
.contentS-kanan {
    width: 45%;
    height: auto;
    /* border: 1px white solid; */
    margin-left: 10px;
}

.area-nextP {
    width: auto;
    height: 60%;
    border: 3px white solid;
    border-radius: 10px;
    padding: 20px;
}

.area-title-nextP {
    width: auto;
    /* border: 1px red solid; */
}

.title-nextP {
    margin: 0px;
    font-family: "Bebas Neue";
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.area-thumbnail-nextP {
    width: auto;
    height: 235px;
    background-color: aliceblue;
    /* border: 1px white solid; */
    border-radius: 10px;
}
/* ---------------------- */

/* area-program */
.page-2 {
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
}

.area-program {
    width: 100%;
    /* height: 100%; */
    background-color: var(--primary-color);
}

.area-header-program {
    width: 100%;
    height: fit-content;
    text-align: center;
    /* border: 1px black solid; */
}

.title-program {
    font-family: "Bebas Neue";
    font-weight: 200;
    font-size: 49px;
    margin: 0px;
    padding-top: 20px;
}

.area-tombol {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tombol-kiri,
.tombol-kanan {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #ff590093;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: -12px;
    transform: translateY(240%);
    -webkit-transform: translateY(240%);
    -moz-transform: translateY(240%);
    -ms-transform: translateY(240%);
    -o-transform: translateY(240%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tombol-kiri:hover{
    background-color: var(--secondary-color);
}
.tombol-kanan:hover{
    background-color: var(--secondary-color);
}

.tombol-kiri {
    left: -20;
}

.tombol-kanan {
    right: -20;
}

.area-content-program {
    width: auto;
    height: auto;
    /* border: 1px black solid; */
    margin: 10px 64px 0px 64px;
}

.area-content-box-program {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
    box-sizing: border-box;
    /* padding: 0 10px; */
}

.box-program {
    flex: 0 0 calc(25% - 15px);
    height: 313px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 0;
    box-sizing: border-box;
}
/* --------------------------- */

/* area info & news */
.page-3 {
    width: 100%;
    height: auto;
    background-color: #353535;
}

.area-info-news {
    width: auto;
    height: auto;
    /* border: 1px black solid; */
    margin: 0px 60px 0px 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line-info {
    width: 100%;
    border: 2px white solid;
    margin-top: 65px;
    border-radius: 5px;
}

/* area-content-info-news */
.area-content-info-news {
    width: 100%;
    height: auto;
    /* border: 1px black solid; */
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
}
/* ------- */

/* area-content-info */
.area-content-info {
    width: 60%;
    height: 100%;
    /* border: 1px red solid; */
}

.header-info {
    width: 100%;
    height: fit-content;
    /* border: 1px white solid; */
}

.title-info {
    margin: 0px;
    font-family: "Bebas Neue";
    font-size: 49px;
    font-weight: 200;
    color: white;
}

.content-info {
    width: 100%;
    height: auto;
    /* border: 1px white solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.box-info {
    flex: 0 0 calc(33.3333% - 8px);
    height: 165px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.area-bottom-info {
    width: 100%;
    height: fit-content;
    /* border: 1px white solid; */
    text-align: center;
}

.title-bottom-info {
    margin: 0px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 200;
    color: var(--primary-color);
    padding-top: 20px;
}

/* ------------------ */

/* area-content-news */
.area-content-news {
    width: 35%;
    height: 519px;
    /* border: 1px green solid; */
}

.header-news {
    width: 100%;
    height: fit-content;
}

.title-news {
    margin: 0px;
    font-family: "Bebas Neue";
    font-size: 49px;
    font-weight: 200;
    color: white;
}

.content-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.box-news {
    width: auto;
    height: 66px;
    background-color: #f0f0f0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.area-image {
    width: 30%;
    /*border: 1px black solid;
    */
    background-color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100%;
}

.area-text {
    width: 70%;
    /* border: 1px black solid; */
    height: fit-content;
}

.desk-news {
    font-family: "Poppins";
    margin: 0px;
    font-size: 14px;
    overflow-wrap: break-word;
    padding: 2px 0;
}
/* ------------------ */

/* area-event */
.page-4 {
    width: 100%;
    height: auto;
}

.area-event {
    width: auto;
    height: auto;
    margin: 0px 64px 0px 64px;
    /* border: 1px white solid; */
}

.line-event {
    width: auto;
    border: 4px white solid;
    margin-top: 30px;
    border-radius: 5px;
}

.header-event {
    width: 100%;
    height: fit-content;
    /* border: 1px red solid; */
    text-align: center;
    margin-top: 55px;
}

.title-event {
    font-size: 40px;
    font-family: "Bebas Neue";
    margin: 0px;
    font-weight: 200;
    color: white;
}

.area-content-event {
    width: 100%;
    height: 500px;
    /* border: 1px blue solid; */
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/* event kiri */
.area-content-event-kiri {
    width: 65%;
    height: auto;
    /* border: 1px greenyellow solid; */
}

.content-event-CD {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: end;
    align-items: end;
}

.area-countdown {
    width: 100%;
    height: 100px;
    background-color: #333333b9;
    display: flex;
    padding: 15px;
}

.countdown {
    width: 60%;
    height: 100%;
    /* border: 1px white solid; */
    display: flex;
}

.area-days-date {
    width: 40%;
    height: 100%;
    /* border: 1px red solid; */
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.time-countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Untuk memusatkan teks di tengah */
    width: 25%;
    height: auto;
}

.timer {
    margin: 0px;
    font-family: "Krub";
    font-size: 38px;
    color: white;
    font-weight: 200;
}

.title-timer {
    margin: 0px;
    font-family: "Krub";
    font-size: 22px;
    color: white;
    font-weight: 200;
}

.box-days-date {
    width: auto;
    height: auto;
}

.date-month {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
    font-weight: 200;
    margin: 0px;
}
.year {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
    font-weight: 200;
    margin: 0px;
}

/* ---------- */

/* event kanan */
.area-content-event-kanan {
    width: 35%;
    height: auto;
    /* border: 1px crimson solid; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-event {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: end;
    align-items: end;
}

.area-days-date-right {
    width: 100%;
    height: 60px;
    background-color: #333333b9;
    display: flex;
    padding: 15px;
}

.content-days-date-right {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.box-days-date-right {
    width: auto;
    height: auto;
}

.date-month-right {
    font-family: "Bebas Neue";
    font-size: 22px;
    color: white;
    font-weight: 200;
    margin: 0px;
}
.year-right {
    font-family: "Bebas Neue";
    font-size: 22px;
    color: white;
    font-weight: 200;
    margin: 0px;
}
/* ------------- */
/* -------------- */

/* area-podcast-video */
.page-5 {
    width: 100%;
    height: auto;
}

.area-podcast-video {
    width: auto;
    height: auto;
    margin: 0px 64px 20px 64px;
    /* border: 1px red solid; */
}

.area-content-PV {
    width: 100%;
    height: auto;
    display: flex;
    gap: 48px;
}

.line-PV {
    width: 1px;
    height: 500px;
    background-color: white;
    /* border: 1px white solid; */
    margin-top: 50px;
}

/* area-podcast */
.area-content-podcast {
    width: 65%;
    height: 100%;
    /* border: 1px white solid; */
}

.header-podcast {
    width: 100%;
    height: fit-content;
    /* border: 1px pink solid; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.area-title-podcast {
    width: 50%;
    height: 100%;
    /* border: 1px lightblue solid; */
}

.title-podcast {
    font-size: 49px;
    font-weight: 200;
    font-family: "Bebas Neue";
    margin: 0px;
    color: white;
}

.area-text-podcast {
    width: 50%;
    height: 100%;
    /* border: 1px lightblue solid; */
    text-align: right;
}

.text-podcast {
    font-size: 20px;
    font-weight: 200;
    font-family: "Poppins";
    margin: 0px;
    color: var(--primary-color);
}

.content-podcast {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; /* Menambahkan flex-wrap agar card dapat berpindah ke bawah jika melebihi baris */
    gap: 20px;
    margin-top: 10px;
}

.card-podcast {
    width: calc(
        50% - 10px
    ); /* Membuat card mengambil 50% lebar, dengan margin antar card */
    height: 400px;
}

.card-podcast .card-header-podcast {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}

.card-podcast .card-body-podcast {
    /* width: 100%; */
    height: 70%;
    background-color: white;
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.head-body-podcast {
    width: 100%;
    height: auto;
    /* border: 1px black solid; */
}

.genre {
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
}

.title-genre {
    font-size: 18px;
    font-family: "Bebas Neue";
    font-weight: 200;
    margin: 5px 25px;
}

.area-card-text {
    width: fit-content;
    height: fit-content;
}

.card-text-podcast {
    font-size: 34px;
    margin: 0px;
    font-weight: 200;
    font-family: "Bebas Neue";
}

.card-image-podcast {
    width: 100%;
    height: 160px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.card-podcast .card-header-podcast .author-podcast {
    color: #333;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    width: 55%;
    height: 50px;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 1px black solid; */
}

.card-podcast .card-header-podcast .author-podcast::before {
    background-color: transparent;
    border-top-left-radius: 10px;
    box-shadow: -30px -30px 0 white;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 45%;
    content: "";
    /* border: 1px black solid; */
}

.card-podcast .card-header-podcast .view-podcast {
    font-weight: 600;
    color: rgb(238, 238, 238);
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 85%;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.card-podcast .card-header-podcast .view-podcast:hover {
    background-color: #e05003;
    color: white;
}

.link-podcast{
    width: 42%;
    /* border: 1px red solid; */
    z-index: 10;
    text-decoration: none;
}

/* .text-watch-podcast {
    
} */



/* -------------- */

/* area-video */
.area-content-video {
    width: 35%;
    height: 100%;
    /* border: 1px rgb(248, 0, 0) solid; */
}

.area-header-video {
    width: 100%;
    height: fit-content;
    /* border: 1px lightseagreen solid; */
}

.title-video {
    font-size: 49px;
    font-family: "Bebas Neue";
    font-weight: 200;
    color: white;
    margin: 0px;
}

.content-video {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.box-video {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-play-video{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-play-video span{
    font-size: 32px;
}

.link-text-video {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 10px;
}



.text-video {
    font-size: 18px;
    font-weight: 200;
    font-family: "Poppins";
    margin: 0px;
    color: var(--primary-color);
}

/* --------------- */

/* ---------- */

/* area-announcer */
.page-6 {
    width: 100%;
    height: 100vh;
    /* border: 1px yellow solid; */
}

.area-announcer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.area-svg {
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    margin-top: 10px;
}

.svg-large {
    display: block;
}

.svg-small {
    display: none;
}

.svg-small-mobile {
    display: none;
}

.area-content-announcer {
    width: 100%;
    height: 500px;
    background-color: #353535;
    position: relative;
    top: 85px;
    padding: 0px 64px 0px 64px;
}

.header-announcer {
    width: 100%;
    height: auto;
    /* border: 1px black solid; */
    text-align: center;
}

.title-announcer {
    font-size: 40px;
    font-family: "Bebas Neue";
    font-weight: 200;
    margin: 30px 0px 5px 0px;
    color: #ffffff;
}

.content-announcer {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    margin-top: 20px;
}

.area-tombol-announcer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tombol-kiri-announcer,
.tombol-kanan-announcer {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #ffdd0093;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: -10px;
    transform: translateY(240%);
    -webkit-transform: translateY(240%);
    -moz-transform: translateY(240%);
    -ms-transform: translateY(240%);
    -o-transform: translateY(240%);
    transition: all 0.3s ease-in-out;
}

.tombol-kiri-announcer:hover{
    background-color: var(--primary-color);
}

.tombol-kanan-announcer:hover{
    background-color: var(--primary-color);
}

.tombol-kiri-announcer {
    left: -20;
}

.tombol-kanan-announcer {
    right: -20;
}

.area-content-box-announcer {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 0px;
}

.box-announcer {
    flex: 0 0 calc(20% - 16px);
    /* max-width: calc(25% - 15px); */
    height: 300px;
    background-color: #f0f0f0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0;
    box-sizing: border-box;
}

.line-announcer {
    width: auto;
    height: 1px;
    background-color: white;
    margin: 0px 64px 0px 64px;
}
/* ---------------- */

/* area-chart -artis */
.page-7 {
    width: 100%;
    height: 100vh;
}

.area-chart-artis {
    width: auto;
    height: 480px;
    /* margin: 20px 64px 0px 64px; */
    margin-top: 50px;
}

.area-content-chart-artis {
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
    display: flex;
    gap: 20px;
}

/* area chart */
.area-content-chart {
    width: 60%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    /* justify-content: center; */
    padding: 0px 30px 0px 64px;
}

.content-chart {
    width: 100%;
    height: auto;
    /* border: 1px black solid; */
}

.header-chart {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    margin-top: 25px;
}

.title-chart {
    font-size: 44px;
    font-family: "Bebas Neue";
    font-weight: 200;
    margin: 0px;
}

.chart {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 18px;
    font-family: "Bebas Neue";
    font-weight: 200;
    text-align: left;
    height: 60%;
}

thead tr {
    text-align: left;
    /* font-weight: 200; */
    font-size: 26px;
    border-bottom: 1px solid #000000;
}

tbody tr {
    font-size: 22px;
    height: 20px;
    border-bottom: 1px solid #000000;
}

.bottom-chart {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    display: flex;
    justify-content: end;
}

/* .area-btn-chart {
    width: auto;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} */

.text-btn-chart {
    border: 1px var(--secondary-color) solid;
    font-size: 18px;
    font-family: "Poppins";
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 5px;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.text-btn-chart:hover {
    border: 1px var(--secondary-color) solid;
    background-color: var(--secondary-color);
    color: black;
}

/* ------------ */

/* area-artis */
.area-content-artis {
    width: 40%;
    height: auto;
    background-color: #ffffff;
    padding: 25px 64px 0px 30px;
}

.header-artis {
    width: auto;
    height: fit-content;
    /* border: 1px red solid; */

    /* margin-top: 25px; */
}

.title-artis {
    font-size: 44px;
    font-family: "Bebas Neue";
    font-weight: 200;
    margin: 0px;
}

.content-artis {
    width: auto;
    height: auto;
    /* border: 1px green solid; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-artis {
    width: 100%;
    height: 110px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
/* ---------------- */
/* ---------------- */

/* area-schedule */
.page-8 {
    width: 100%;
    height: 100vh;
}

.area-schedule {
    width: auto;
    height: 500px;
    /* border: 1px #ff004d solid; */
    margin: 0px 64px 0px 64px;
}

.area-content-schedule {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.header-schedule {
    width: 100%;
    height: fit-content;
    /* border: 1px red solid; */
}

.title-schedule {
    font-family: "Bebas Neue";
    font-size: 44px;
    font-weight: 200;
    margin: 0px;
    color: white;
}

.top-content-schedule {
    width: 100%;
    height: 60px;
    /* background-color: #ffffff; */
    display: flex;
}

.schedule {
    flex-grow: 1;
    width: 150px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.schedule:hover {
    background-color: var(--primary-color);
}

.schedule-day {
    margin: 0px;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
}

/* content-schedule */
.content-schedule {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 15px;
    /* border: 1px red solid; */
}

.box-schedule {
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-sizing: border-box;
}

/* .content-schedule .box-schedule {
    display: none;
}

.content-schedule .box-schedule.active {
    display: block;
} */


/* --------------- */

/* ------------- */

/* Styling untuk wadah audio player */

/* --------------------- */
